extends layout

block head
    script(src="/js/jquery-2.1.4.min.js")
    script(src="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

    header
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand DashBoard - NodeJS
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="/login") Log in
            li
              a(href="/signup") Sign up
    main
      .container
        .row.col-lg-12.col-lg-offset-4
          form.form-horizontal
            .row
              .form-group.col-lg-4
                label(for="username") Username
                input.form-control(type="name", placeholder="Please enter your name")
            .row
              .form-group.col-lg-4
                label(for="password") Password
                input.form-control(type="password", placeholder="Please enter your password")
            .row
              .form-group.col-lg-4
                button.btn.btn-primary.col-lg-12(type="submit") Connect
            .row
              .form-group.col-lg-4
                button.btn.btn-success.col-lg-12(type="submit") Create an account
